<div class="col-md-offset-1 col-md-10 col-sm-12 top-page-space form-horizontal m-b-20">
    <label class="control-label col-sm-1 col-md-1">Dzień</label>
    <div class="col-sm-2 col-md-3">
        <input class="form-control" type="text" ng-model="inputDay">
    </div>
    <label class="control-label col-sm-1 col-md-1">Miesiąc</label>
    <div class="col-sm-3 col-md-3">
        <input class="form-control" type="text" ng-model="inputMonth">
    </div>
    <label class="control-label col-sm-1 col-md-1">Osoba</label>
    <div class="col-sm-4 col-md-3">
        <input class="form-control" type="text" ng-model="inputPerson">
    </div>
</div>
<div class="col-sm-offset-1 col-sm-10 text-left m-b-20"> 
    <div class="col-sm-12" ng-repeat="month in $ctrl.months | filterMonth: inputMonth">
        <div class="row m-b-2" ng-repeat="day in month.d | filter: inputDay">
            <div class="div-content-center">
                <h3>{{day}} {{month.name}} 2018</h3>
            </div>
            <hr/>
            <div class="col-sm-12 fit-content">
                <div class="col-lg-3" ng-repeat="p in $ctrl.tasks | filterPeople: inputPerson">
                    <div class="bold div-content-center m-b-5">{{p.person}}</div>
                    <div class="row day-task-bg2" ng-repeat="item in $ctrl.tasks | filter: {date: day+'-'+month.m+'-2018', person: p.person} | orderBy: 'time'">
                    
                    
                    <a id="details" class="a-task float-left m-r-15" ng-click="options = !options; active = !active">
                        <span class="m-r-15">{{item.time}}</span>
                        <category ng-if="$ctrl.category == 'Sport'" type="futbol-o"></category>
                        <category ng-if="item.category == 'Studia'" type="graduation-cap"></category>
                        <category ng-if="item.category == 'Dom'" type="home"></category>
                        <category ng-if="item.category == 'Zdrowie'" type="heartbeat"></category>
                        <category ng-if="item.category == 'Praca'" type="bank"></category>
                        <category ng-if="item.category == 'Zakupy'" type="shopping-basket"></category>
                        <category ng-if="item.category == 'Inna'" type="cogs"></category>
                        <span class="m-l-15" ng-if="!active" ng-style="$ctrl.taskInactive">
                            <span>{{item.name}}</span> 
                        </span>
                        <span class="m-l-15" ng-if="active" ng-style="$ctrl.taskActive">
                            <span>{{item.name}}</span> 
                        </span>
                    </a>
                    <span ng-show="options">
                        <button class="btn btn-xs btn-danger float-left m-l-2 m-r-2" ng-click="$ctrl.deleteTask(item.id)">
                            <i class="fa fa-remove"></i> usuń
                        </button>
                    </span>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>