.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.row.content {
    height: 450px
}
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.day-task-bg {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-size: 18px;
}
.day-task-bg2 {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 14px;
    border-right: 6px solid white;
}
.day-task-bg:hover, .day-task-bg2:hover {
    background-color: gray;
}
.day {
    background-color: lightgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.m-t-2 {
    margin-top: 2px;
}
.m-b-2 {
    margin-bottom: 2px;
}
.m-l-2 {
    margin-left: 2px;
}
.m-r-2 {
    margin-right: 2px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.h-15 {
    height: 15px;
}
.top-page-space {
    margin-top: 20px;
}
.div-content-center {
    text-align: center;
}
.el-back {
    z-index: -1;
}
.el-front {
    z-index: 1;
}
.el-task-detail {
    background-color: lightgray;
    position: fixed;
    height: 250px;
    width: 200px;
    right: 50px;
    top: 200px;
    padding: 15px;
    font-size: 16px;
}
.category-icon {
    font-size: 48px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.bold {
    font-weight: bold;
}
.cross-close {
    cursor: pointer;
    color: gray;
}
.a-task, .a-task:link, .a-task:visited, .a-task:hover, .a-task:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.fit-content {
    display: inline-block;
}
input.ng-invalid {
    border: 2px solid red;
}
input.ng-pristine {
    border: 1px solid lightgrey;
}
.edit-task-form {
    font-size: 14px;
}
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
    .day-task-bg {
        background-color: whitesmoke;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        font-size: 18px;
        width: 100%;
    }
}