    <div class="col-sm-offset-1 col-md-offset-3 col-sm-10 top-page-space form-horizontal">
        <label class="control-label col-sm-2 col-md-1">Miesiąc</label>
        <div class="col-sm-4 col-md-3">
            <input class="form-control" type="text" ng-model="inputMonth">
        </div>
        <label class="control-label col-sm-2 col-md-1">Osoba</label>
        <div class="col-sm-4 col-md-3">
            <input class="form-control" type="text" ng-model="inputPerson">
        </div>
    </div>
    <div class="col-sm-12" ng-repeat="month in $ctrl.months | filterMonth: inputMonth">
        <h2>{{month.name}} 2018</h2>
        <hr/>
        <div class="row m-b-2" ng-repeat="day in month.d">
            <div class="col-sm-1 day div-content-center">{{day}}</div>
            <div class="col-sm-11 day-task-bg fit-content">&nbsp;
                <span ng-repeat="item in $ctrl.tasks | filter: {date: day+'-'+month.m+'-2018', person: inputPerson}">
                    <a id="details" class="a-task float-left m-r-15" ng-click="options = !options; active = !active; $ctrl.getDetails(item.id)">
                        <span ng-if="!active" ng-style="$ctrl.taskInactive">{{item.name}}</span>
                        <span ng-if="active" ng-style="$ctrl.taskActive">{{item.name}}</span>
                    </a>
                    <span ng-show="options">
                        <button id="details" class="btn btn-xs btn-warning float-left m-r-2" ng-click="showDetails = !showDetails">
                            <i class="fa fa-bars"></i> szczegóły
                        </button>
                        <div class="el-front el-task-detail" ng-show="showDetails">
                            <i class="fa fa-close float-right cross-close" ng-click="showDetails = !showDetails; removeOption = !removeOption"></i>
                            <b>{{ task.name }}</b><hr/>
                            <span>Dzień: {{ task.date}}</span><br/>
                            <span>Godzina: {{ task.time}}</span><br/>
                            <span>Kategoria: {{ task.category }}</span><br/>
                            <span>Osoba: {{ task.person }}</span><br/>
                            <div class="div-content-center m-t-15 category-icon">
                                <category ng-if="task.category == 'Sport'" type="futbol-o"></category>
                                <category ng-if="task.category == 'Studia'" type="graduation-cap"></category>
                                <category ng-if="task.category == 'Dom'" type="home"></category>
                                <category ng-if="task.category == 'Zdrowie'" type="heartbeat"></category>
                                <category ng-if="task.category == 'Praca'" type="bank"></category>
                                <category ng-if="task.category == 'Zakupy'" type="shopping-basket"></category>
                                <category ng-if="task.category == 'Inna'" type="cogs"></category>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-danger float-left m-l-2 m-r-2" ng-click="$ctrl.deleteTask(item.id)">
                            <i class="fa fa-remove"></i> usuń
                        </button>
                        <button class="btn btn-xs btn-success float-left m-l-2 m-r-20" id="edit" ng-click="$ctrl.startEditing(item.id); showEdit = !showEdit">
                            <i class="fa fa-wrench"></i> edytuj
                        </button>

                        <div ng-show="showEdit" class="col-xs-12">
                            <br/>
                            <form id="edit" class="form-inline edit-task-form" name="myForm" novalidate>
                                <div class="form-group m-r-15">
                                    <label class="control-label m-r-5 m-b-15">Nazwa </label>
                                    <input class="form-control" type="text" name="name" ng-model="task.name" required>
                                    <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                        <span ng-show="myForm.name.$error.required">Nazwa jest wymagana.</span>
                                    </span>
                                </div>
                                    
                                <div class="form-group m-r-15">
                                    <label class="control-label m-r-5 m-b-15">Data </label>
                                    <input class="form-control" type="text" name="date" ng-model="task.date" required required custom-date-directive>
                                    <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
                                        <span ng-show="myForm.date.$error.required">Data jest wymagana.</span>
                                        <span ng-show="myForm.date.$error.date">Data jest nieprawidłowa.</span>
                                    </span>
                                </div>
                                 
                                <div class="form-group m-r-15">
                                    <label class="control-label m-r-5 m-b-15">Kategoria </label>
                                    <select name="category" class="form-control" ng-model="task.category" required>
                                        <option value="" disabled>Wybierz...</option>
                                        <option value="Dom">Dom</option>
                                        <option value="Praca">Praca</option>
                                        <option value="Sport">Sport</option>
                                        <option value="Studia">Studia</option>
                                        <option value="Zakupy">Zakupy</option>
                                        <option value="Zdrowie">Zdrowie</option>
                                        <option value="Inna">Inna</option>
                                    </select>
                                    <span style="color:red" ng-show="myForm.category.$dirty && myForm.category.$invalid">
                                        <span ng-show="myForm.category.$error.required">Wybierz kategorię.</span>
                                    </span>
                                </div>
                                            
                                <div class="form-group m-r-15">
                                    <label class="control-label m-r-5 m-b-15">Czas </label>
                                    <input class="form-control" type="text" name="time" ng-model="task.time" required custom-time-directive>
                                    <span style="color:red" ng-show="myForm.time.$dirty && myForm.time.$invalid">
                                        <span ng-show="myForm.time.$error.required">Czas jest wymagany.</span>
                                        <span ng-show="myForm.time.$error.time">Czas jest nieprawidłowy.</span>
                                    </span>
                                </div>
                                    
                                <div class="form-group m-r-15">
                                    <label class="control-label m-r-5 m-b-15">Osoba </label>
                                    <input class="form-control" type="text" name="person" ng-model="task.person" required>
                                    <span style="color:red" ng-show="myForm.person.$dirty && myForm.person.$invalid">
                                        <span ng-show="myForm.person.$error.required">Osoba jest wymagana.</span>
                                    </span>
                                </div>
                        
                                <div class="form-group">        
                                    <input value="Zatwierdź" type="submit" class="btn btn-sm btn-primary"
                                                       ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.name.$error.required ||
                                                                           myForm.date.$dirty && myForm.date.$invalid || myForm.date.$error.required ||
                                                                           myForm.category.$dirty && myForm.category.$invalid || myForm.category.$error.required ||
                                                                           myForm.person.$dirty && myForm.person.$invalid || myForm.person.$error.required ||
                                                                           myForm.time.$dirty && myForm.time.$invalid || myForm.time.$error.required"
                                                                           ng-click="$ctrl.editTask($ctrl.id); showEdit = !showEdit" />
                                    <button class="btn btn-sm btn-default" ng-click="showEdit = !showEdit">Anuluj</button>
                                </div>
                            </form>
                            <br/>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <br/><br/>
    </div>

    <div class="col-sm-offset-1 col-sm-10 text-left"> 
        <h2 class="top-page-space div-content-center">Nowe zadanie</h2>
        <hr/>
        <form class="form-horizontal" name="myForm" novalidate>
    
            <div class="form-group">
               <label class="control-label col-sm-offset-1 col-sm-2">Nazwa</label>
               <div class="col-sm-6">
                   <input class="form-control" type="text" name="name" ng-model="$ctrl.task.name" required>
                   <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                   <span ng-show="myForm.name.$error.required">Nazwa jest wymagana.</span>
               </span>
               </div>
           </div>
       
           <div class="form-group">
               <label class="control-label col-sm-offset-1 col-sm-2">Data</label>
               <div class="col-sm-6">
                   <input class="form-control" type="text" name="date" ng-model="$ctrl.task.date" required required custom-date-directive>
               <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
                   <span ng-show="myForm.date.$error.required">Data jest wymagana.</span>
                   <span ng-show="myForm.date.$error.date">Data jest nieprawidłowa.</span>
               </span>
               </div>
           </div>
    
           <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-2">Kategoria</label>
                <div class="col-sm-6">
                    <select name="category" class="form-control" ng-model="$ctrl.task.category" required>
                        <option value="" disabled>Wybierz...</option>
                        <option value="Dom">Dom</option>
                        <option value="Praca">Praca</option>
                        <option value="Sport">Sport</option>
                        <option value="Studia">Studia</option>
                        <option value="Zakupy">Zakupy</option>
                        <option value="Zdrowie">Zdrowie</option>
                        <option value="Inna">Inna</option>
                    </select>
                    <span style="color:red" ng-show="myForm.category.$dirty && myForm.category.$invalid">
                        <span ng-show="myForm.category.$error.required">Wybierz kategorię.</span>
                    </span>
                </div>
            </div>
               
            <div class="form-group">
               <label class="control-label col-sm-offset-1 col-sm-2">Czas</label>
               <div class="col-sm-6">
                   <input class="form-control" type="text" name="time" ng-model="$ctrl.task.time" required custom-time-directive>
               <span style="color:red" ng-show="myForm.time.$dirty && myForm.time.$invalid">
                   <span ng-show="myForm.time.$error.required">Czas jest wymagany.</span>
                   <span ng-show="myForm.time.$error.time">Czas jest nieprawidłowy.</span>
               </span>
               </div>
            </div>
       
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-2">Osoba</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="person" ng-model="$ctrl.task.person" required>
                <span style="color:red" ng-show="myForm.person.$dirty && myForm.person.$invalid">
                    <span ng-show="myForm.person.$error.required">Osoba jest wymagana.</span>
                </span>
                </div>
            </div>
    
            <div class="form-group">        
                <div class="col-sm-offset-3 col-sm-9">
                    <input value="Dodaj" type="submit" class="btn btn-primary"
                      ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.name.$error.required ||
                                          myForm.date.$dirty && myForm.date.$invalid || myForm.date.$error.required ||
                                          myForm.category.$dirty && myForm.category.$invalid || myForm.category.$error.required ||
                                          myForm.person.$dirty && myForm.person.$invalid || myForm.person.$error.required ||
                                          myForm.time.$dirty && myForm.time.$invalid || myForm.time.$error.required"
                       ng-click="$ctrl.addTask('newtask', $ctrl.task)" />
                </div>
            </div>
       
        </form>
    </div>